#pics {
	width: 100%;
	height: 100vh;
	background: #c6fcff;
	position: relative;
	padding: 10vw;
	overflow: hidden;

	p {
		font: bold 200px/1 'arial';
		color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 100px;
		left: 100px;
	}
}
